[Desktop Entry]
Version=1.0
Type=Application
Name=AutoSploit
Comment=AutoSploit
Exec=gnome-terminal -e "bash -c \"autosploit;bash\"";
Icon=/usr/share/demon/images/icons/autosploit.png
StartupNotify=false
Terminal=true
Categories=exploitation
