[Desktop Entry]
Version=1.0
Type=Application
Name=PWNDrop
Comment=PWNDrop
Exec=gnome-terminal -e "bash -c \"pwndrop-start.sh;bash\"";
Icon=/usr/share/demon/images/icons/pwndrop.png
StartupNotify=false
Terminal=true
Categories=exploitation
