[Desktop Entry]
Version=1.0
Type=Application
Name=BloodHound Graph
Comment=BloodHound GUI for the Graphed Data
Exec=tilix -e "bash -c \"cd /cyberpunk/windows-domains/BloodHound-linux-x64/ && ./BloodHound --no-sandbox;bash\""
StartupNotify=true
Icon=/usr/share/demon/images/icons/bloodhound.png
Categories=bloodhound
