[Desktop Entry]
Version=1.0
Type=Application
Name=Demon App Store
Comment=Where everything's free!
Exec=demon-app-store.sh
Icon=/usr/share/demon/images/icons/demon-store-icon.png
Terminal=false
StartupNotify=false
Categories=demonlinux
