[Desktop Entry]
Version=1.0
Type=Application
Name=Ghidra 9
Comment=NSA's Reverse Engineering Tool
Exec=/usr/local/sbin/ghidra9.sh
Icon=/usr/share/demon/images/icons/ghidra.png
StartupNotify=false
Categories=exploitation
