[Desktop Entry]
Version=1.0
Type=Application
Name=PWNDrop
Comment=PWNDrop
Exec=pwndrop-start.sh
Icon=/usr/share/demon/images/icons/pwndrop.png
StartupNotify=false
Categories=exploitation
