[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=StartupNotify
Comment=Listen to music on Spotify
Exec=spotify
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/64x64/apps/spotify-client.svg
Categories=AudioVideo;MultiMedia;multimedia;music;audio;
StartupNotify=false
